@charset "utf-8";
.header {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#menu {
    width: 100%;
}

/* responsive topnav sezione about gallery e contact*/
.topnav {
    overflow: hidden;
	display: none;	
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: white;
	text-decoration: none;
	font-family: fira sans;
	
}

.topnav a:hover {
	color: brown; 
}



.topnav .icon {
  display: none;
}

@media screen and (max-width: 700px) {
	.topnav {
		z-index: 21; 
		display: block;
		top: -40px;
	}
	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}
	.topnav.responsive {
		position: relative;
	    display: block;
	}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
	}
	
/* responsive topnav sezione about gallery e contact fine*/
/* menu home principale */
#sidebar {
	float: right;
	margin: 0;
	padding: 0;
	width: 40%;
	background-color:white;
	position: fixed;
	height: auto;
	overflow-x:hidden;
	right: 0;
	align-content: center;
	text-align: center;
}

#listamenusidebar {
	font-size: 25px;
	font-family: 'Fira Sans', sans-serif, thin;
	display: block;
	color: black;
	padding: 20px;
	text-decoration: none;
}
#nome {
	font-size: 40px;font-family: 'Fira Sans', sans-serif;
	display: block;
	color: black;
	padding: 6px;
	text-decoration: none;
}
#sidebar img {
	bottom:0;
}
#musellalogo{
	padding: 15px;
}
#sociallogo {
	padding: 5px;
	cursor: pointer;
}
#sociallogo:hover{ 
	opacity: 0.5;
}
#menuprincipalelogo{
	display: none;
}

#nomelogo{
	display: none;
}
#listamenusidebar:hover { 
	color:#F2785C; 
}
#sidebar nome:hover { 
	color:black; 
}

/* (C) HIDE HAMBURGER */
#menu label, #hamburger {
	display: none; 
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 850px){
	#iconamenuheader{
		display: none;
	}
  /* (A) BREAK INTO VERTICAL MENU */
#sidebar {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
	height: 100%;
    align-content: center;
	justify-content: center;
	text-align: center;
    position: relative;
	z-index: 3;
	overflow: hidden;
  }	
	
#sidebar a {
    text-align: center;
    float: none;
  }

  /* (B) SHOW HAMBURGER ICON */
#menu label {
	display:inline-flex;
	color: black;
	font-style: normal;
	font-size: 1.2em;
	padding: 10px;
	float: right;
	font-size: 40px;
	position:relative;
	cursor: pointer;
  }
.menuresponsivehomepage {
	width: 50%;
	position: relative;
	display: inline-block;
	justify-content: center;
	text-align: center;
	align-content: center;
	align-items: center;
	}
#menuprincipalelogo{ 
	width: 45px;
	padding-left:10px;
	padding-right: 10px;
	padding-top:20px;
	display: inline-block;
	float: left;
	justify-content: center;
	text-align: center;
	align-content: center;
	}
#nomelogo {
	float: left;
	margin-top: 25px;
	padding-left: 10px;
	font-family: Fira Sans;
	font-size: 20px;
	display:  inline-block;
	}
	
  /* (C) TOGGLE SHOW/HIDE MENU */
	
  #sidebar {
	  display: none;
	  overflow: hidden;
	}
  #menu input:checked ~ #sidebar { 
	  display: block;
	}
}
@media screen and (max-width: 500px){
	#iconamenuheader{
		display: none;
	}
	.menuresponsivehomepage{
		width: 80%;
	}
}

/* slide show  */
html, body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
}
.body{
	background color: black;
}
.slidershow{
	width: 60%;
	height: auto;
	overflow: hidden;
	position: static;
	}
.middle {
	position: absolute;
	background-color: black;
   
}

.navigation {
	position: absolute;
	transform: translateX(-50%);
	display: block;
	width: auto;
	position:fixed;
	top:5%;
	right: 39%;
	
}
.navigation b{
	text-shadow: 10px 0 6px 5px black;
}
.bar {
	width: 30px;
	height: 50px;
	border: 7px solid #fff;
	border-bottom: transparent;
	border-top: transparent;
	border-left: transparent;
	margin: 6px;
	cursor: pointer;
	transition: 0.4s;
	left: 0;
	display: flex;
	font-size: 15px;
	color: #F2B05E; 
}
.bar:hover {
	border: 7px solid black;
	border-bottom: transparent;
	border-top: transparent;
	border-left: transparent;
	color: white;
	
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
	width: 500%;
	height: 100%;
	display: flex;
}

.slide{
	width: 20%;
	height: auto;
	transition: 0.6s;
}
.slide img{
	margin-top: -20px;
	width: 100%;
	height: auto;
}

#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}
#r3:checked ~ .s1{
  margin-left: -40%;
}
#r4:checked ~ .s1{
  margin-left: -60%;
}
#r5:checked ~ .s1{
  margin-left: -80%;
}

@media screen and (max-width: 850px){
	.slidershow {
		width: 100%;
		position: relative;
		z-index: 2;
	}
	.navigation{
		background-color:;
		position: absolute;
		transform: translateX(-50%);
		top:55%;
		right: -15px;
		bottom:0;
		align-content: center;
		justify-content: center;
	}
	.bar {
		width: 20px;
		height: 40px;
		border: 7px solid #fff;
		border-bottom: transparent;
		border-top:transparent;
		border-left: transparent;
		margin: 6px;
		cursor: pointer;
		transition: 0.4s;
		display: flex;
		font-size: 15px;
		color: coral;
	}
}
 /*[header about contact gallery] */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	}
.menuheader{ 
	position: fixed;
	z-index: 10;
	width: 100%;
	top:0;
	height: 70px;
}

.logoelabel{
	display: inline-block;
	justify-content: flex-end;
	width:100%;
}

#iconamenuheader{
	text-decoration: none;
	color: #F2785C;
	display: block;
	margin-right: 10px;
	margin-top: -2px;
	float: right;
	font-size: 40px;
	bottom: 5px;
	cursor: pointer;
}
#iconamenuheader:hover{
	opacity: 50%;
}
#iconamenuheader a{
	color: inherit;
	text-decoration: none;
}
.responsiveheader img {
	width:60px;
	padding-top: 3px;
	padding-right: 10px;
	padding-left: 5px;
}
.testoheader {
	align-items: center;
	color: black;
	display: inline-block;
	top:18px;
	position: absolute;
	padding: ;
}

.responsiveheader {
	Font-family: 'Fira Sans', sans-serif;
	font-size: 20px;
	width: 100%;
	background-color: white;
	color: white;
	height: 100px;
	float: right;
	right: 0;
	display: inline-block;
	z-index: 10;
}
.desktopheader {
	font-family: 'Fira Sans', sans-serif;
	font-size: 60px;
	width: 100%;
	background-color: white;
	height: 70px;
	position:absolute;
	top:70px;
	align-content: center;
	text-align: center;
	margin-top: auto;
	margin-left: auto;
}
.logomenuheader a{
	margin-top:10px;
}
@media only screen and (max-width: 700px){
	.responsiveheader{
		z-index: 10;
	}
	.desktopheader{
		height: 70px;
		font-size: 40px;
	}
	#iconamenuheader{
		display: none;
	}
}


/*-header fine*/


/*-sezione about*/
.grigliabout{
	display:grid; 
	grid-template-columns: 70%;
	grid-gap: 10px;
	}
.informazioni{
	border: solid 10px red;
	width: 600px;
	background: #00CBFF;
}
.aboutme{ 
	border-right: solid 4px black;
	top:50%;
	height: 950px;
	width:600px;
	z-index: 3;
	display: block;
	position: relative;
	background-color: white;
	padding-top: 150px;
	align-content: center;
	justify-content: center;
	text-align: center;
	}

#fotoprofilo{
	width: 250px;
	border-radius: 50%;
	border:5px solid #73AD21;
	background-color: aliceblue;
}
.sidebartitolo {
	display: ;
	padding-top:60px;
	color: #9CBF78;
	font-family: Fira sans;
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
	}

.aboutme-discorso {
	margin-left: auto;
	margin-right: auto;
	text-align:justify;
	display: ;
	font-size: 16px;
	font-family: Fira sans;
	vertical-align: center;
	width: 360px;
	color: #16193B;
	margin-top:  50px;
	margin-bottom:50px;
}

.aboutme-discorsoing {
	text-align:justify;
	width: 360px;
	margin-top:  50px;
	margin-bottom:50px;
	font-size: 16px;
	font-family: Fira sans;
	color: #1A4233;
	top:70%;
	display: ;
	margin-left: auto;
	margin-right: auto;
}
.lineaseparazione{
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	width: 350px;
	height: 5px;
	top: 69%;
	padding:; 
}

.studi {
	top:10%;
	height: 750px;
	width: 600px;
	z-index: 1;
	position: relative;
	border-right: solid 4px black;
	padding-top: 100px;
	align-content: center;
	justify-content: center;
	text-align: center;
	background: white;
}

.competenze { 
	position: relative;
	border-right: solid 4px black;
	top:80%;
	height: 850px;
	width:600px;
	z-index: 2;
	background-color:brown;
	padding-top: 100px;
	 background: white;
	align-content: center;
	justify-content: center;
	text-align: center;
}
.competenze-img img {
	padding-top: 50px;
}
.compeenzeloghi{
	padding-top: 90px;
}
.imgcontainer{
	overflow: ;
	height:900px;
	margin-top: 70px;
	width:100%;
	right: 0;
	top: 0; 
	position: absolute;
	z-index:-1;
	background: #A9C076;
	border: solid 5px black;
}

#immagine-sfondoabout{
	width: 100%;
}

@media only screen and (max-width: 700px){
	.aboutme{
		width: 100%;
		height: 1000px;
		border: none;
	}
	.studi{
		width: 100%;
		border: none;
		}
	.competenze{
		width: 100%;
		border: none;
	}
}


/*-sezione about-fine*/

/*-sezione contatti*/
.contact{
	font-family: Fira sans,sans serif;
	justify-content: center;
	align-content: center;
	text-align-last: center;
	margin-top: 135px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	}

.grigliacontatti{	
	display: grid;
	grid-template-columns: 22% 56% 22% ;
}

.title{
	padding: 20px;
	font-size: 25px;
	color: crimson;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 700;
}

.contattitesto{
	padding: 30px;
}
.contact-container{
	margin-left: auto;
	margin-right: auto;
	}
.contact-container img{ 
	padding: 10px;
	width: 100px; 
	filter: grayscale(100%);
	cursor: pointer;
}
.contact-container img:hover {
	animation: shake 0.5s;
	animation-iteration-count: 10s;
	filter: grayscale(0%);
	-webkit-animation-duration: 0.85s;
	animation-duration: 0.85s;
}

@keyframes shake {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
} 

{
 @keyframes shake{
	10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

}

#listacsocialcontatti{
	padding: 10px;
}

#socialcontact img{
	padding: 10px;
}

.immaginidecocontatti img{
	width: 100%;
	border: solid 3px black;
}
.immaginidecocontattidue{
	}
.immaginidecocontattidue img{
	width: 100%;
	border: solid 3px black;
}



@media only screen and (max-width: 700px){
	.contact{
		width: 100%;
	}
	.grigliacontatti{
		display: inline;
	}
	
	.contact-container{
		display: inline;
		margin-left: 50px;
	}
	
	#socialcontact{
		padding: 10px;
	}
	.contact-container img{
		width: 80px;
	}
.immaginidecocontatti {
  display: none;
	}
.immaginidecocontattidue{
	display: none;
	}
}

@media only screen and (max-width: 500px){
	.contact-container{
		display: inline;
	}
	
	#socialcontact{
		padding: 5px;
	}
}

/*-sezione contatti-fine*/

/*-sezione  galleria */


.sottomenu{
	position: relative;
	width: 100%;
	height: 150px;
}



.selection {
	align-content: center;
	height: auto;
	padding-top: 120px;
	margin: auto;
	width: 100%;
	vertical-align: middle;
	text-align: center;
}


.selection-title{
	text-align: center;
	border-radius: 5px;
	padding: 20px;
	width: 50%;
	position: relative;
	font-family: Fira Sans;
	font-size: 35px;
	font-weight: 700;
	color: azure;
	vertical-align: middle;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
}

#listagalleria {
	border-bottom: solid 2px #F2785C;
	text-align: center;
	margin-top: 130px;
	background: white;
	padding: 20px;
	width: 100%;
	list-style-type: none;
	position: fixed;
	z-index: 1;
	padding: 30px;
	font-family: Fira sans;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	}

#listagalleria a{
	text-decoration: none;
}
	
#listagalleria ul li {
	color:white;
	border-radius: 15px;
	background-color: black;
	text-decoration: none;
	cursor: pointer;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border: 2px solid transparent;
	display: inline;
	list-style-type: none;
}
#listagalleria ul li:hover{
	background-color: transparent;
	text-decoration: none;
	color: #F2785C;
	
	}
.griglia{
	width: 50%;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 33% 33% 33% ;
	
	}
.foto-border{
margin: 10px;
}

	
.foto-border img{
	padding: 10px;
	cursor: pointer;
	width: 100%;
	height: 100%;
	border: solid 5px ;
	border-color: transparent transparent transparent transparent;
	
	}
.foto-border img:hover{
	border: solid 5px ;
	border-color:  #9CBF78 ;
	filter: grayscale(100%);
	
	}
.selection{
	position: relative;
}
.selection-title{
	position: relative;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 800px){
	.selection{
	padding-top: 90px;
	}
	.selection-title{
		padding-left: 0;
		width: 100%;
	}
	.griglia{
	width: 80%;
	}
	
	.foto-border{
		width: 95%;
		}
	
	.foto-border img{
		padding: 5px;
		width: 100%;
		height: auto;
	}
	
	
	

	.clearfix:after {
		content: "";
		display: table;
		clear: both;
	}
	
	#listagalleria{
		position: fixed;
		padding: 10px;
		margin-top: 120px;
	}
	#listagalleria ul li{
		display:inline-block;
		padding: 10px;
	}
.sottomenu{
	height: 100px;
	}
}
@media only screen and (max-width: 500px){
	.selection-title{
		width: 100%; 
		margin-right:20px; 
	}
	.foto-border {
		width: 100%;
		}
	.griglia{
		width: 100%;
		grid-template-columns: 95% ;
	}
	.foto-border img{
		width: 100%;
		height: auto;
		padding: 0;
	}
	
	#listagalleria{
		position: fixed;
		padding: 10px;
	}
	#listagalleria ul li{
		display:inline-flex;
		padding: 5px;
	}
}


/*-sezione  galleria fine*/


/*-sezione footer*/


.musellagiuseppe a{}

.footermusella{ 
	border-top: black solid 5px;
	position: relative; 
	background-color:white;
	padding:35px 0 20px;
	font-size:20px;
	line-height:24px;
	width: 100%; 
	height: auto;
	font-family: Fira sans;
	align-content: center;
	justify-content: center;
	text-align: center; 
}

.footercontent{
	text-align-last: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.footercontent h3{
	background: white;
	text-align: center;
	padding: 10px;
}
.footermusella img{
	vertical-align: middle;
}
#footerlogo{
	width: 90px;
	padding-bottom: 10px;
}

.footermenu{ 
	text-align: center;
	padding-bottom: 20px;
	cursor: pointer;
	text-decoration: none;
}

.footermenu ul li{
	padding-top: 30px;
	display: inline;
	padding: 10px;
	text-decoration: none;
}
.footermenu ul{
	list-style-type: none;
	text-decoration: none;
}
.footermenu ul li:hover{
	list-style-type: none;
	color: firebrick;
}

.loghifooter{
	list-style: none;
	display: flex;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.loghifooter li{ 
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	}
	
.loghifooter img{  
	width: 70px;
}
#footersocial{
	padding: 10px;
	cursor: pointer;
	}

#footersocial:hover{
	opacity: 50%;
}

.diritti{
	background: #26272b;
	text-align: center;
	padding: 10px;
}
.diritti a{ 
	font-family: fira sans;
	color: white;
	font-size: 15px;
	position: relative;
	padding 20pxl;
    bottom: 0;
}

@media only screen and (max-width: 700px){
	.footermusella{
		display: table;
	}
	.loghifooter img{  
		width: 60px; 
}
	.loghifooter{
		display: inline-flex;
		width: 100%;
	}
	.footermenu{
		width: 100%;
	}
}

/*-sezione footer end */













